#titles
{
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
  @media screen and (max-width: 875px) {
    width: 14em;
    font-size: 300%;
    left: 60%;
  }
  @media screen and (max-width: 750px) {
    width: 14em;
    left: 65%;
    font-size: 250%;
  }
  @media screen and (max-width: 590px) {
    width: 12em;
    left: 70%;
    font-size: 220%;
  }
   @media screen and (max-width: 500px) {
    width: 12em;
    left: 75%;
    font-size: 200%;
  }
   @media screen and (max-width: 430px) {
    width: 10em;
    left: 85%;
    font-size: 220%;
  }
  @media screen and (max-width: 380px) {
    width: 8em;
    left: 90%;
    font-size: 175%;
  }
 
}

#titles:after
{
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  pointer-events: none;
}

#titlecontent
{
  position: absolute;
  top: 100%;
  animation: scroll 100s linear 4s infinite;
}

@keyframes scroll {
  0% { top: 100%; }
  100% { top: -50%; }
}

#drunk-yoda {
  width: em(100px);
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  opacity: 0.6;
}

p {
  color: gold;
}

h1 {
  color: gold;
}

#about-nav-links {
  padding: 0;
  margin: 0;
  text-align: center;

  li {
    display: inline-block;

    a:hover {
      color: #00FDFD;
    }
  }

  li:first-child {
    margin-right: 1em;
  }

}

