html {
  background: url('../../images/yoda-background.jpg') no-repeat center center fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: $mainfont;
  letter-spacing: 1px;
  line-height: 1.4;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: #176868;
  padding: 0 0 1em 0;

  #logo-box {

    #yoda-header-icon {
      width: em(70px);
      margin: 0 0.5em 0 1em;
    }
    
    h1 {
      margin: 0;
      color: $white;
      font-family: $logofont;
      font-size: 2em;
      display: inline-block;
      position: relative;
      bottom: 0.2em;
    } 
  }

  #nav-links {
    float: right;
    margin-top: 2em;

    li {
      display: inline-block;
      margin-right: 2em;

      a {
        text-decoration: none;
        color: $white;
        font-size: 1em;
        font-weight: 200;
      }
    }
  }
}

body {
  padding-bottom: 3em;
 
}

ul {
  list-style: none;
}

input:focus, button:focus {
  outline: none;
}