#data-box {
  width: em(320px);
  margin: 0 auto;
  margin-top: 4em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px 10px 0 0;
  @media screen and (min-width: $tablet) {
    width: em(750px);
    border-radius: 10px;
  }

  #search-box {
    background-color: rgba(0, 102, 90, 0.3);
    width: em(320px);
    padding: 1em 1em 2em 1em;
    text-align: center;
    border-radius: 10px 10px 0 0;
    @media screen and (min-width: $tablet) {
      @include outer-container;
      width: em(750px);
      padding-bottom: 0.5em;
    }

    h3 {
      color: $white;
      font-weight: 300;
      margin: 0.5em;
      margin-bottom: 0;
      font-size: 1.3em;
      letter-spacing: 1px;
      @media screen and (min-width: $tablet) {
        @include span-columns(4 of 12);
        margin-top: 0.4em;
      }
    }

    .error {
      color: red;
    }

    input[type="text"] {
      display: block;
      margin: 1em auto;
      border-radius: 5px;
      padding: 0.25em 0.5em;
      color: #333;
      text-indent: 5px;
      width: em(205px);
      @media screen and (min-width: $tablet) {
        @include span-columns(4 of 12);
        margin-top: 0.5em;
      }
    }

    .btn-box {
      @media screen and (min-width: $tablet) {
        padding-top: 0.3em;
      }
    }

    .current-btn {
      border-radius: 20px;
      padding: 0.42em 1.5em;
      background-color: #00FDFD;
      color: #333;
      margin-right: 0.5em;
      border: none;
      margin-bottom: 1em;
      margin-right: 0;
      @media screen and (min-width: $tablet) {
        margin-bottom: 0;
      }
      
    }

    .five-btn {
      @extend .current-btn;
      margin-right: 0;
      padding: 0.42em 1.8em;
      background-color: #F5A623;
      color: $white;
    }

    #error-msg {
      color: red;
    }
  }

  #weather-sunrise-box {
    @media screen and (min-width: $tablet) {
      @include outer-container;
      border-bottom: $borderbottom;
    }
  }

  #current-weather {
    padding: $divpadding;
    border-bottom: $borderbottom;
    @media screen and (min-width: $tablet) {
      @include span-columns(6 of 12);
      /*@include shift(1);*/
      border-bottom: none;
      padding-top: 0;
      padding-left: 2em;
      border-right: $borderbottom;
    }

    h1 {
      color: $white;
      font-size: 4em;
      font-weight: bold;
      margin-bottom: 0;
    }

    #temp-units {
      color: $white;
      font-size: 0.3em;
      font-weight: 200;
      position: relative;
      bottom: 1.5em;
      right: 1em;
    }

    #temp-units:hover {
      cursor: pointer;
    }

    #weather-img {
      width: em(100px);
      display: inline-block;
      position: relative;
      bottom: 4.5em;
      left: 1em;
      
    }

    #current-temps {
      margin: 0;
      width: em(170px);
      display: inline-block;
      position: relative;
      bottom: 2em;
      left: 3em;
    }

    h2 {
      color: $flatgreen;
      text-align: center;
      position: relative;
      right: 6em;
      width: em(200px);
      margin: 0;
      font-weight: 200;
      @media screen and (min-width: $tablet) {
        right: 7em;
      }
    }

  }

  #sunrise {
    padding: 2em 0 0 1.5em;
    border-bottom: $borderbottom;
    height: em(100px);
    @media screen and (min-width: $tablet) {
      @include span-columns(5 of 12);
      border-bottom: none;
      padding-top: 1em;
      padding-left: 0.5em;
    }

    img {
      width: em(100px);
      position: relative;
      bottom: 0.75em;
      @media screen and (min-width: $tablet) {
        width: em(130px);
        bottom: 0;
      }
    }

    .sunrise-label {
      margin-top: 0;
      position: relative;
      bottom: 5.5em;
      left: 1em;
      color: #00FDFD;
    }

    #sunset {
      left: 7.6em;
      @media screen and (min-width: $tablet) {
        left: 9.5em;
      }
    }

    .time {
      color: $white;

    }
  }

  #random-data {
    border-bottom: $borderbottom;
    padding: 2em 0.25em 1em 0.25em;
    @media screen and (min-width: $tablet) {
        padding-top: 1em;
        padding-bottom: 0.5em;
      }

    ul {
      width: em(180px);
      padding: 0;
      margin: 0 auto;
      @media screen and (min-width: $tablet) {
        width: em(515px);
      }

      li {
        color: #00FDFD;
        margin-bottom: 0.5em;
        font-size: 1.2em;
        @media screen and (min-width: $tablet) {
          display: inline-block;
          margin-right: 1.75em;
        }

      }
    }

    li:last-child {
      margin-right: 0;
    }

    .text {
      color: $white;
    }
  }

  #yoda-translation {
    padding: 2em 0.25em;
    text-align: center;
    @media screen and (min-width: $tablet) {
        padding: 1em 6em;
        position: relative;
    }

    #yoda-icon {
      width: 13em;
      @media screen and (min-width: $tablet) {
        position: absolute;
        left: -7.1em;
        bottom: -5em;
      }
    }

    h2 {
      color: $flatgreen;
    }
  }
}

@keyframes myanim {
  from { margin-right: 0;}
    to { margin-right: 130%; }
}

#tie-fighter {
  position: absolute;
  right: -170px;
  top: 250px;
  z-index: -10;
  -webkit-animation: myanim 5s linear;
}





