.data-box {
  width: 100%;
  margin: 0 auto;
  margin: 2em auto 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  @media screen and (min-width: 600px) {
    width: 600px;
    border-radius: 10px;
  }

  .search-box {
    background-color: rgba(0, 102, 90, 0.7);
    width: 100%;
    padding: 0 1em 0 1em;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    @media screen and (min-width: 600px) {
      border-radius: 10px 10px 0 0;
      justify-content: center;
      height: em(70px);
    }

    .search-header {
      width: 100%;
      @media screen and (min-width: 600px) {
        width: 40%;
      }
    }

    h3 {
      color: $white;
      font-weight: 300;
      margin: 0.5em 0 0.5em 0.5em;
      margin-bottom: 0;
      font-size: 1.3em;
      letter-spacing: 1px;
      text-align: center;
      @media screen and (min-width: 600px) {
        margin-top: 0.72em;
      }
    }

    .error {
      color: red;
    }

    .search-input {
      width: 100%;
      height: em(65px);
      @media screen and (min-width: 600px) {
        width: 40%;
      }
    }

    input[type="text"] {
      display: block;
      margin: 1em auto;
      border-radius: 5px;
      padding: 0.25em 0.5em;
      color: #333;
      text-indent: 20px;
      width: em(205px);
    }

    .search-icon {
      width: 1.2em;
      position: relative;
      bottom: 2.5em;
      right: 5.3em;
    }

    .btn-box {
     width: 100%;
     @media screen and (min-width: 600px) {
        width: 20%;
        margin-top: 0.75em;
     }
    }

    .current-btn {
      border-radius: 20px;
      padding: 0.42em 1.5em;
      background-color: #00FDFD;
      color: #333;
      border: none;
      margin-bottom: 1em;
      margin-right: 0; 
      transition: background-color linear 0.5s;
      @media screen and (min-width: 600px) {
        margin-bottom: 0;
      }
    }

    .current-btn:hover {
      background-color: #fff;
      color: #00FDFD;
      transition: background-color linear 0.5s;
    }

    .five-btn {
      @extend .current-btn;
      padding: 0.42em 1.8em;
    }

    #error-msg {
      color: red;
    }
  }

  #weather-sunrise-box {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    @media screen and (min-width: 600px) {
        border-bottom: $borderbottom;
        border-right: $borderbottom;
        border-left: $borderbottom;
    }
  }

  #current-weather {
    padding: 0;
    border-bottom: $borderbottom;
    width: 100%;
    @media screen and (min-width: 600px) {
      width: 50%;
      border: none;
    }

    h1 {
      color: $white;
      font-size: 4em;
      font-weight: bold;
      margin-bottom: 0;
    }

    #temp-units {
      color: $white;
      font-size: 0.3em;
      font-weight: 200;
      position: relative;
      bottom: 1.5em;
      right: 1em;
    }

    #temp-units:hover {
      cursor: pointer;
    }

    #weather-img {
      width: em(100px);
      display: inline-block;
      position: relative;
      bottom: 4.5em;
      left: 0.5em;
      
    }

    #weather-box {
      width: em(280px);
      margin: 0 auto;
      @media screen and (min-width: 600px) {
        float: right;
      }
    }

    #current-temps {
      margin: 0;
      width: em(160px);
      display: inline-block;
      position: relative;
      bottom: 2em;
      left: 1.5em;
    }

    h2 {
      color: $flatgreen;
      text-align: center;
      position: relative;
      right: 6em;
      width: em(200px);
      margin: 0;
      font-weight: 200;
    }

  }

  #sunrise {
    padding: 1.5em 0.5em 2em 3em;
    border-bottom: $borderbottom;
    width: 100%;
    height: em(130px);
    @media screen and (min-width: 600px) {
      width: 50%;
      border: none;
      padding-left: 0;
    }

    img {
      width: em(100px);
    }

    #sunrise-box {
      width: em(270px);
      margin: 0 auto;
      @media screen and (min-width: 600px) {
        
      }
    }

    #sun-icon {
      display: inline-block;
      margin-top: 0.5em;
      @media screen and (min-width: 600px) {

      }
    }

    #rise-set-box {
      display: inline-block;
      margin-bottom: 2.9em;
      padding-left: 1em;

      table {

        tr {
          margin-bottom: 1em;
        }
      }
    }

    #sunrise-label {
      color: #00FDFD;
    }

    #sunset-label {
      color: #00FDFD;
    }

    .time {
      color: $white;

    }
  }

  #random-data {
    border-bottom: $borderbottom;
    padding: 1em 0.25em 1em 0.25em;
    width: 100%;
    @media screen and(min-width: 600px) {
      border-bottom: $borderbottom;
      border-right: $borderbottom;
      border-left: $borderbottom;
    }

    ul {
      width: em(180px);
      padding: 0;
      margin: 0 auto;
      @media screen and (min-width: 600px) {
        width: 80%;
      }

      li {
        color: #00FDFD;
        margin-bottom: 0.5em;
        font-size: 1.2em;
        @media screen and (min-width: 600px) {
          display: inline-block;
          margin-right: 0.5em;
          margin-bottom: 0;
        }
      }
    }

    li:last-child {
      margin-right: 0;
    }

    .text {
      color: $white;
    }
  }

  #yoda-translation {
    padding: 1em 0.25em 2em 0.25em;
    text-align: center;
    width: 100%;
    @media screen and(min-width: 600px) {
      border-bottom: $borderbottom;
      border-right: $borderbottom;
      border-left: $borderbottom;
      border-radius: 0 0 10px 10px;
      padding: 1em 3em;
    }
    @media screen and (min-width: 700px) {
      padding: 1em 5em;
    }
    @media screen and (min-width: 600px) {
      padding: 1em 8em;
      position: relative;
    }

    #yoda-icon {
      width: 13em;
      @media screen and (min-width: 600px) {
        position: absolute;
        left: -7em;
        bottom: -5em;
      }
    }

    h2 {
      color: $flatgreen;
    }
  }
}

/*@-webkit-keyframes myanim {
  from { margin-right: 0;}
    to { margin-right: 130%; }
}

@keyframes myanim {
  from { margin-right: 0;}
    to { margin-right: 130%; }
}

#tie-fighter {
  position: absolute;
  right: -170px;
  top: 250px;
  z-index: -10;
  -webkit-animation: myanim 10s linear;
}*/





