#data-box {
  width: em(320px);
  margin: 0 auto;
  margin-top: 4em;
  background-color: rgba(255, 255, 255, 0.1);

  #search-box {
    background-color: rgba(0, 102, 90, 0.3);
    width: em(320px);
    padding: 1em 1em 2em 1em;
    text-align: center;
    border-radius: 5px 5px 0 0;

    h3 {
      color: $white;
      font-weight: 300;
      margin: 0.5em;
      margin-bottom: 0;
      font-size: 1.3em;
      letter-spacing: 2px;
    }

    #current-location {
      color: #D1D1D4;
      font-weight: 200;
      margin-top: 0.5em;
    }

    .error {
      color: red;
    }

    input[type="text"] {
      display: block;
      margin: 1em auto;
      border-radius: 5px;
      padding: 0.25em 0.5em;
      color: #333;
      text-indent: 5px;
    }

    input[type="submit"] {
      padding: 0.5em 2.6em;
      border-radius: 20px;
      border: none;
      background-color: #00FDFD;
      margin-bottom: 1em;
      color: #00305A;
      letter-spacing: 1px;
    }

    #current-btn {
      border-radius: 20px;
      padding: 0.25em 1.15em;
      background-color: $orange;
      color: $white;
      margin-right: 0.5em;
      border: none;
    }

    #five-btn {
      @extend #current-btn;
      margin-right: 0;
    }

    #error-msg {
      color: red;
    }
  }

  #current-weather {
    padding: $divpadding;
    border-bottom: $borderbottom;

    h1 {
      color: $white;
      font-size: 4em;
      font-weight: bold;
      margin-bottom: 0;
    }

    #temp-units {
      color: $white;
      font-size: 0.3em;
      font-weight: 200;
      position: relative;
      bottom: 1.5em;
      right: 1em;
    }

    #temp-units:hover {
      cursor: pointer;
    }

    #weather-img {
      width: em(100px);
      display: inline-block;
      position: relative;
      bottom: 4.5em;
      left: 1em;
      
    }

    #current-temps {
      margin: 0;
      width: em(170px);
      display: inline-block;
      position: relative;
      bottom: 2em;
      left: 3em;
    }

    h2 {
      color: $flatgreen;
      text-align: center;
      position: relative;
      right: 6em;
      width: em(200px);
      margin: 0;
      font-weight: 200;
    }

  }

  #sunrise {
    padding: 2em 0 0 1.5em;
    border-bottom: $borderbottom;
    height: em(100px);

    img {
      width: em(100px);
      position: relative;
      bottom: 0.75em;
    }

    .sunrise-label {
      margin-top: 0;
      position: relative;
      bottom: 5.5em;
      left: 1em;
      color: #00FDFD;
    }

    #sunset {
      left: 7.6em;
    }

    .time {
      color: $white;

    }
  }

  #random-data {
    border-bottom: $borderbottom;
    padding: 2em 0.25em 1em 0.25em;

    ul {
      width: em(180px);
      padding: 0;
      margin: 0 auto;

      li {
        color: #00FDFD;
        margin-bottom: 0.5em;
        font-size: 1.2em;
      }
    }

    .text {
      color: $white;
    }
  }

  #yoda-translation {
    padding: 2em 0.25em;
    text-align: center;

    #yoda-icon {
      width: 13em;
    }

    h2 {
      color: $flatgreen;
    }
  }
}

@keyframes myanim {
  from { margin-right: 0;}
    to { margin-right: 130%; }
}

#tie-fighter {
  position: absolute;
  right: -170px;
  top: 250px;
  z-index: -10;
  -webkit-animation: myanim 5s linear;
}





