.forecast-boxes {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;  
  @media screen and (min-width: 768px) {
    width: 90%;
    margin: 0 auto;
  }
  @media screen and (min-width: 920px) {
    position: relative;
  }
}

.five-day-box {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border-bottom: $borderbottom;
  @media screen and (min-width: 768px) {
        position: relative;
  }

  .repeat-boxes {
    width: 100%;
     @media screen and (min-width: 768px) {
        width: 31%;
        margin-right: 0.5em;
        margin-left: 0.5em;
     }
  }
  .date-box {
    padding: 1em 2em;
    background-color: rgba(52,229,179, 0.7);
    margin-top: 2em;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 1.2em;
  }

  .img-temp-box {
    border-right: $borderbottom;
    border-left: $borderbottom;
    border-bottom: $borderbottom;
    padding: 1em;

    ul {
      padding-left: 0;
      margin-bottom: 0;
      
      li {
        display: inline-block;
      }
    }

    .high-temp {
      color: #e0919b;
    }

    .low-temp {
      color: #5BA7DB;
    }
  }

  #yoda-translations {
    border: $borderbottom;
    padding: 1em;
    border-radius: 0 0 5px 5px;
    color: $flatgreen;
  } 
}

 #yoda-icon-five {
      width: em(225px);
      display: block;
      margin: 0 auto;
      @media screen and (min-width: 768px) and (max-width: 920px){
        display: none;
      }
      @media screen and (min-width: 920px) {
        position: absolute;
        left: -12.5em;
        top: 18em;
      }
}

#prev-icon {
  width: 1em;
  position: absolute;
  left: 1em;
  bottom: 12em;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

#next-icon {
  width: 1em;
  position: absolute;
  right: 1em;
  bottom: 12em;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

/*@-webkit-keyframes myanim {
  from { margin-right: 0;}
    to { margin-right: 130%; }
}

@keyframes myanim {
  from { margin-right: 0;}
    to { margin-right: 130%; }
}

#x-wing {
  position: absolute;
  right: -170px;
  top: 250px;
  z-index: -10;
  -webkit-animation: myanim 10s linear;
}*/