#search-flex-box {
  @media screen and (min-width: 600px) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 90%;
  }
  @media screen and (max-width: 600px) {
    margin: 0 auto;
  }
  @media screen and (min-width: 650px) {
    width: 85%;
  }
  @media screen and (min-width: 700px) {
    width: 80%;
  }
  @media screen and (min-width: 750px) {
    width: 75%;
  }
}

.five-search-header {
  @media screen and (min-width: 600px) {
    width: 35%;
    margin-left: 0;
  }

  h3 {
    margin-left: 0;
  }
}

.five-search-input {
  @media screen and (min-width: 600px) {
    width: 40%;
  }
}

.forecast-boxes {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  @media screen and (min-width: 435px) and (max-width: 768px) {
      width: 75%;
      margin: 0 auto;
  }  
  @media screen and (min-width: 768px) {
    width: 90%;
    margin: 0 auto;
  }
  @media screen and (min-width: 920px) {
    position: relative;
  }
}

#five-day-box {
  text-align: center;
  width: 100%;
  margin: 2em auto 0 auto;
  border-bottom: $borderbottom;
  @media screen and (min-width: 768px) {
        position: relative;
  }
  @media screen and (min-width: 800px) {
    width: 800px;
    margin-top: 2em;
  }

  .repeat-boxes {
    width: 100%;
     @media screen and (min-width: 435px) and (max-width: 768px) {
      width: 45%;
      margin-right: 0.5em;
      margin-left: 0.5em;
     }
     @media screen and (min-width: 768px) {
        width: 31%;
        margin-right: 0.5em;
        margin-left: 0.5em;
     }
  }
  .date-box {
    padding: 1em 2em;
    /*background-color: rgba(52,229,179, 0.7);*/
    background: #134E5E; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(right, #134E5E, #71B280);
    background: -o-linear-gradient(right, #134E5E, #71B280);
    background: linear-gradient(to left, #134E5E, #71B280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    
    margin-top: 2em;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 1.2em;
    @media screen and (min-width: 435px) and (max-width: 550px) {
      font-size: 0.9em;
    }
  }

  .five-weather-des {
    color: #fff;
  }

  .img-temp-box {
    border-right: $borderbottom;
    border-left: $borderbottom;
    border-bottom: $borderbottom;
    padding: 1em;

    ul {
      padding-left: 0;
      margin-bottom: 0;
      
      li {
        display: inline-block;
      }
    }

    .high-temp {
      color: #e0919b;
    }

    .low-temp {
      color: #5BA7DB;
    }
  }

  #yoda-translations {
    border: $borderbottom;
    padding: 1em;
    border-radius: 0 0 5px 5px;
    color: $flatgreen;
  } 
}

 #yoda-icon-five {
      width: em(225px);
      display: block;
      margin: 0 auto;
      @media screen and (min-width: 768px) and (max-width: 920px){
        display: none;
      }
      @media screen and (min-width: 920px) {
        position: absolute;
        left: -12.5em;
        top: 22em;
      }
}

#prev-icon {
  width: 1em;
  position: absolute;
  left: 1em;
  bottom: 12em;
  cursor: pointer;
   @media screen and (max-width: 600px) {
    bottom: 10em;
  }
  @media screen and (min-width: 601px) and (max-width: 768px) {
    bottom: 20em;
  }
}

#next-icon {
  width: 1em;
  position: absolute;
  right: 1em;
  bottom: 12em;
  cursor: pointer;
  @media screen and (max-width: 600px) {
    bottom: 10em;
  }
  @media screen and (min-width: 601px) and (max-width: 768px) {
    bottom: 20em;
  }
}

