<div id="data-box">
    <div id="search-box">
      <h3>Current weather for:</h3>
      <input type="text" ng-model="location" name="userInput"></input>
      <input type="submit"></input>
      <button id="current-btn">Current</button>
      <button id="five-btn">5 Day</button>
    </div>
    <div id="current-weather">
      <img id="weather-img"ng-src="{{ getWeatherImg }}">
      <div id="current-temps">
        <h1 class="current-temp" ng-show="default">{{ currentTempF }} <span id="temp-units" ng-click="default = 0">°F | °C</span></h1> 
        <h1 class="current-temp" ng-show="!default">{{ currentTempC }} <span id="temp-units" ng-click="default = 1">°C | °F</span></h1> 
        <h2>{{ description }}</h2>
      </div>
    </div>
    <div id="sunrise">
      <img ng-src="{{ sunRise }}">
      <span class="sunrise-label">Sunrise: <span class="time"> {{ sunriseTime }} AM</span></span>
      <span class="sunrise-label" id="sunset">Sunset: <span class="time">{{ sunsetTime }} PM</span></span>
    </div>
    <div id="random-data">
      <ul>
        <li>Wind: <span class="text">{{ windDir }} {{ windSpeed }}mph</span></li>
        <li>Humidity: <span class="text">{{ humidity }}%</span></li>
        <li>Pressure: <sapn class="text">{{ pressure }}</sapn></li>
      </ul>
    </div>
    <div id="yoda-translation">
      <h2> {{ yodaCast }}</h2>
      <img id="yoda-icon" ng-src="{{ yoda }}">
    </div>
</div>