<header>
  <div class="header-box">
    <div id="logo-box">
      <!-- <img id="yoda-header-icon"src='images/yoda-icon2.jpg'> --><h1>Yoda Weather</h1> 
    </div>
    <div class="nav-links">
      <ul>
          <li><a href="#/about">About</a></li>
      </ul>
    </div> 
  </div> 
   
</header>
 <img id="tie-fighter" src="images/tie-fighter.png" alt="tie fighter image">
<div id="data-box">
    <div id="search-box">
        <div id="search-header">
            <h3 id="current-title">Current weather for:</h3> 
        </div>
        <div id="search-input">
            <input type="text" ng-model="location" name="location" ng-minlength="2" required ng-click="clearText()"></input>
            <div role="alert">
                <span class="error" ng-show="locationForm.location.$error.minlength">Too short!</span>
                <h4 ng-show="message" id="error-msg"> {{ message }} </h4>
            </div>
        </div>
        
        <div class="btn-box">
            <button class="current-btn" ng-click="getWeather(location)">Current</button>
            <button class="five-btn" ng-click="changeView()">5 Day</button>
        </div>
     
    </div>
      <div id="weather-sunrise-box">
          <div id="current-weather">
            <div id="weather-box">
                <img id="weather-img"ng-src="{{ getWeatherImg }}">
                <div id="current-temps">
                    <h1 class="current-temp" ng-show="default">{{ currentTempF }} <span id="temp-units" ng-click="default = 0">°F | °C</span></h1> 
                    <h1 class="current-temp" ng-show="!default">{{ currentTempC }} <span id="temp-units" ng-click="default = 1">°C | °F</span></h1> 
                    <h2>{{ description }}</h2>
                  
                </div>
            </div>
        </div>

        <div id="sunrise">
            <div id="sunrise-box">
                <div id="sun-icon">
                    <img ng-src="{{ sunRise }}">
                </div>
                <div id="rise-set-box">
                    <table>
                      <tr>
                        <td><span id="sunrise-label">Sunrise:</span> <span class="time">{{ sunriseTime }} AM</span></td>
                      </tr>
                      <tr>
                        <td><span id="sunset-label">Sunset:</span> <span class="time">{{ sunsetTime }} PM</span></td>
                      </tr>
                    </table>    
                </div>  
            </div>
          </div>
      </div>

    <div id="random-data">
      <ul>
        <li>Wind: <span class="text">{{ windDir }} {{ windSpeed }}mph</span></li>
        <li>Humidity: <span class="text">{{ humidity }}%</span></li>
        <li>Pressure: <sapn class="text">{{ pressure }}</sapn></li>
      </ul>
    </div>
    <div id="yoda-translation">
      <h2> {{ yodaCast }}</h2>
      <img id="yoda-icon" ng-src="{{ yoda }}">
    </div>
</div>